@font-face {
    font-family: Ergonomique1;
    src: local('Ergonomique-Semibold.otf'), url('Ergonomique-Semibold.otf');

} html {
    padding: 0%;

} .master-box{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgb(68, 0, 0);
    
    

} .box {
    font: normal 18px Ergonomique1;
    background-color: rgb(68, 0, 0);
    border-radius: 15px;
    text-align: left;
    padding: 8px;
    display: inline-block;
    width: 100%;
    

} fieldset {
    border-radius: 5px;
    border: 3px solid rgb(167, 0, 0);
} legend {
    border: 1.8px solid rgb(167, 0, 0);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(167, 0, 0);
    color: rgb(255, 255, 255);
    
} .entradaLabel {
    color: rgb(36, 248, 255);
    font-size: 12pt;
    
    position: absolute;
    pointer-events: none;
    transition: .5s;
    
    
} .caixaEntrada {
    position: relative;
    margin-top: 30px;


} .entradaUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 10pt;
    width: 100%;
    letter-spacing: 1.5px;
    margin-top: 30px;
    
} .entradaUser:focus ~ .entradaLabel {
    top: -20px;
    font-size: 10px;

} #submit {
    background-image: linear-gradient(to right, rgb(150, 33, 33), rgb(45, 15, 54));
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    color: white;
    border: none;
    font-size: 15pt;
    cursor: pointer;


} #submit:hover {
    background-image: linear-gradient(to right, rgb(196, 54, 54), rgb(87, 28, 105));

} .caixa-1 {
    height: 30px;

} #mapa {
    width: 100%;
    height: calc();
    background-color: rgb(253, 253, 253);
    border-bottom: solid black;

} #rodape-1 {
    width: 100%;
    height: calc();

} .rodape-2 {
    width: 100%;
    height: 50px;
} .rodape-2 p {
    color: white;

}
  .header-top{
   width: 100%;
   height: auto;
   text-align: center;
   padding-left: 90px;
   padding-right: 90px;
   text-align: center;
   
   

} .head-main {
    position: relative;
    min-width: 320px;
    max-width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0%;
    display: block;
    


} .log {
    text-align: center;


}  .head-main img {
    min-width: 320px;
    max-width: 100%;
    height: auto;
    

}  .nav-wrapper {
    background-color: rgb(192, 3, 28); 
    align-items: center;

} .inicio{
    font: normal 18px Ergonomique1;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    left: 50px;
    position: relative;
    overflow: hidden;

}   .nav-wrapper ul li a {
    font: normal 18px Ergonomique1;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    top: 25px;
    position: relative;
    

} .side-nav {
    background-color: rgb(9, 1, 14);
    

} ul.side-nav li:hover a {
   color: rgb(255, 241, 41);
   transition: all .1s;

}  .hide-on-med-and-down li:hover a {
    color: rgb(255, 241, 41);
    transition: all .1s;


}   .cicones {
    align-items: center;
    

} .icones_ {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
}